/* rote styel */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
/* common style start */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.primary-button {
    border: 0;
    color: white;
    font-weight: 700px;
    border-radius: 4px;
    background-color: #FF900E;
    padding: 8px 10px;
}

/* common style start */

/* heder section start */
header {
    background: rgba(255, 144, 14, 0.1);
}

/* nav-manu sections start */
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;


}

.website-taitle h1 {
    font-weight: 700px;
}

.manu-containers {
    display: flex;
    gap: 18px;
}

.manu-containers li {
    list-style-type: none;

}

.manu-containers li:hover a {
    color: #FF900E;
}

.manu-containers a {
    text-decoration: none;
    color: black;
    font-weight: 500px;
}

/* nav-manu sections end */

/* new group sections start */
.new-group-architects-section {
    width: 862px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.new-group-title h1 {
    font-weight: 700px;
}

.new-group-discription {
    font-weight: 500px;
}


.banner-image {
    width: 100%;
    margin: 30px 0;
}

/* new group sections end */

/* main - Quick section start */
.main-container {
    width: 862px;
    margin: 100px auto;
}

.quick-list-container {
    display: flex;
    gap: 30px;
}

.quick-list-container>div {
    flex: 1;
}

.images-album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.images-album>img {
    width: 100%;
    border-radius: 5px;
}

.section-informaitions-container {
    display: flex;
    align-items: center;

}

.section-informaitions {
    padding-left: 50px;
}

.quick-secition-title span:first-child {
    color: #727272;
}

.quick-secition-title span:last-child {
    color: #FF900E;
}

/* main - Quick section end */

/* experiance sections start */
.many-years-experiance-container {
    display: flex;
    margin: 150px 0;
    gap: 20px;
    position: relative;
}

.experiance-discribe-container,
.images-container {
    flex: 1;
}

.experiance-title {
    margin: 0;
}

.images-container img {
    width: 100%;
    height: 100%;
}

#experiance-title {
    font-size: 45px;
    border-left: 8px solid #FF900E;
    border-radius: 10px;
    padding-left: 15px;
}

.sub-containers h1:first-child {
    font-size: 20px;
    color: #131313;
}

.sub-containers p:last-child {
    color: #727272;
}

.sub-container .sub-containers {
    margin-top: 35px;
}

.sub-container {
    padding-left: 35px;
}

.sub-container .sub-containers h1 {
    margin-bottom: 5px;
}

.sub-container .sub-containers p {
    margin-top: 5px;
}

#paragraph {
    padding-bottom: 20px;
}

#floting-button {
    position: absolute;
    width: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/* experiance sections end */

/* some facts section start */
.some-facts-sub-container {
    width: 400px;
    margin-bottom: 50px;
}

.achipments-container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.facts-discripsions{
    color:#727272;
    padding-right: 40px;
}
.facts-title, .fact-discripsions, img{
    padding: 0;
    margin: 5px 0;
    
}
.facts-title{
    text-align: center;
}

.images-center{
    display: flex;
    justify-content: center;
}

.sub-achipmenst-container {
    Width :  200px ;
    height : 200px ;
    border: 1px solid 
    #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* some facts section end*/

@media only screen and (max-width: 576px) {

    /* manu section reponsive start */
    .navigation-container {
        flex-direction: column;
    }

    .manu-containers {
        flex-direction: column;
    }

    /* manu section reponsive end */

    /* new - group section responsive start */
    .new-group-architects-section {
        width: auto;
        padding: 0 20px;
        margin: 50px 0;
    }

    .new-group-architects-section p,
    h1 {
        text-align: justify;
    }

    .banner-image {
        width: 100%;
        margin: 15px 0;

    }

    /* main quick section responsive start */
    .main-container {
        width: auto;
    }

    .quick-list-container {
        flex-direction: column;
    }

    .images-album {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        /* padding: 0 10px 0 5px; */
    }

    .images-album img {
        width: 100%;
        border-radius: 5px;
    }

    /* experiance section responsive satrt */
    .many-years-experiance-container {
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 0 20px;

    }

    .images-container img {
        width: 100%;
        height: auto;
    }

    #paragraph {
        margin-bottom: 50px;
    }
    /* experiance section responsive end */

    /* some facts section start */
    .achipments-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20;
        width: 100%;
        
        
    }
    .sub-achipmenst-container {
        width: auto;
        height: auto;
        padding:0 20px ;
       
    }
    #facts-container{
        padding: 20px;
    }

}

/* main quick section responsive start */